client/package-lock.json
client/package.json.md5
client/node_modules
client/wailsjs

app/server.exe
app/build/bin
app/build/windows/installer/tmp
app/build/windows/installer/server.exe
app/build/windows/installer/wails_tools.nsh
app/server
app/.data
app/www

server/.data
server/www