client/package-lock.json
client/package.json.md5
client/node_modules
client/wailsjs

app/server.exe
app/build/bin
app/build/windows/installer/tmp
app/build/windows/installer/server.exe
app/build/windows/installer/wails_tools.nsh
app/server
app/.data
app/www

drivers/sqlite/*.db
drivers/sqlite/*.db*

server/.data
server/www
server/__debug_bin.exe

dist