<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Miscellaneus - Admin</title>
  {% if session.user %}
    <link rel="stylesheet" href="/css/app.css">
  {% else %}
    <link rel="stylesheet" href="/css/login.css">
  {% endif %}
</head>
<body>
  <div id="root"></div>
  {% if session.user %}
    <script type="module" src="/js/admin.js"></script>
  {% else %}
    <script type="module" src="/js/login.js"></script>
  {% endif %}
</body>
</html>