<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="manifest" href="manifest.json">
  <title>Miscellaneous</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div id="root"></div>
  {% if sw %}
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js')
            .then(registration => {
              console.log('Service Worker registrado con éxito:', registration)
            })
            .catch(error => {
              console.log('Fallo en el registro del Service Worker:', error)
            })
        })
      }
    </script>
  {% endif %}
  <script src="/js/services.js"></script>
  <script type="module">
    fetch('/api/profile')
      .then(res => res.json())
      .then(res => {
        if (typeof res.ok === 'boolean' && res.ok === false) {
          import('/js/login.js')
          const linkTag = document.createElement('link')
          linkTag.setAttribute('rel', 'stylesheet')
          linkTag.setAttribute('href', '/css/login.css')
          document.head.append(linkTag)
        } else {
          if (res.isAdmin) {
            import('/js/admin.js')
          } else {
            import('/js/checkout.js')
          }
        }
      })
      .catch(() => {
        const h1 = document.createElement('h1')
        h1.innerText = 'El servidor no es accesible.'
        h1.style.textAlign = 'center'
        const p = document.createElement('p')
        p.innerText = 'Asegurate estar conectado a la misma red que el servidor.'
        p.style.textAlign = 'center'
        document.getElementById('root').append(h1)
        document.getElementById('root').append(p)
        document.body.style.color = '#fff'
        document.body.style.paddingTop = '24px'
      })
  </script>
</body>
</html>