<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="manifest" href="manifest.json">
  {% assign title = "iniciar sesión" %}
  {% if session.user %}
    {% if session.user.isAdmin %}
      {% assign title = "Administrador" %}
    {% else %}
      {% assign title = session.user.name %}
    {% endif %}
  {% endif %}
  <title>{{ session.config.name }} | {{ title }}</title>
  {% if session.user %}
    <link rel="stylesheet" href="/css/app.css">
  {% else %}
    <link rel="stylesheet" href="/css/login.css">
  {% endif %}
</head>
<body>
  <div id="root"></div>
  <script src="/js/app.js"></script>
  <script src="/js/services.js"></script>
  {% if session.user %}
    {% if session.user.isAdmin  %}
      <script type="module" src="/js/admin.js"></script>
    {% else %}
      <script type="module" src="/js/checkout.js"></script>
    {% endif %}
  {% else %}
    <script type="module" src="/js/login.js"></script>
  {% endif %}
</body>
</html>