* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

#root {
  display: contents;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #292929;
  }
}